---
  import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import GithubIcon from '../components/icons/GithubIcon.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../components/icons/BriefCase.astro';

---

<Layout 
  title="Portafolio de Johan - Desarrollador y Programador Web" 
  description='Contrata a Johan para crear tu aplicación web o móbil. Desarrollador Web y Android. Especializado en crear aplicaciones únicas'>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">


    <img class="rounded-full h-12 w-12 mb-4" src="https://avatars.githubusercontent.com/u/77251405?v=4" alt="johan photo">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, Soy Johan 
        <div class="flex justify-center items-center">
          <a href="https://www.linkedin.com/in/johanpalaciose"
            target="_blank"
            rel="noopener"
          class="flex justify-center items-center">
            <Badge>Disponible para tabajar</Badge>
          </a>
        </div>
        </h1>
      <h2 class="text-2xl opacity-80">
        <span>Estudiante de Ingenieria En Sistemas. </span>
        <span class="text-yellow-200/90">Desarrollador Web y Android </span> 
        <span class="text-red-200/90">Guatemala, Huehuetenango.</span>  
        <span class="backdrop-opacity-75">Especializado en crear aplicaciones únicas</span>
        </h2>
      
      <nav class="flex gap-x-4 mt-4">

        <SocialPill href="https://www.linkedin.com/in/johanpalaciose">
            <LinkedIn class="w-6 h-6"/>
            Linkedin
          </SocialPill>

        <SocialPill href="https://www.github.com/Johan-Palacios">
            <GithubIcon class="w-6 h-6"/>
            Github
          </SocialPill>


        <SocialPill href="https://www.github.com/Johan-Palacios">
            <MailIcon class="w-6 h-6"/>
            johanpalacios.rivera@gmail.com
          </SocialPill>

      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-8 flex gap-x-3 items-center">
        <BriefCase class="size-7"/>
        Experiencia Laboral

      </h2>
      <Experience/>
    </SectionContainer
  </main>
</Layout>
